@font-face {
   font-family: "kanit";
   src: url("../font/Kanit/Kanit-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "kanit-medium";
   src: url("../font/kanit/Kanit-medium.ttf") format("truetype");
}

@font-face {
   font-family: "kanit-bold";
   src: url("../font/Kanit/Kanit-bold.ttf") format("truetype");
}

@font-face {
   font-family: "kanit-semibold";
   src: url("../font/Kanit/Kanit-SemiBold.ttf") format("truetype");
}

* {
   font-family: "kanit", system-ui, sans-serif;
}

body {
   background: white;
}

::-webkit-scrollbar {
   width: 4px;
   height: 10px;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: #eaecf0;
   border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
   background: #d0d5dd;
}
